absl-py==1.3.0
accelerate==0.24.1
adagio==0.2.4
aiofiles==22.1.0
aiohttp==3.8.3
aiosignal==1.3.1
aiosqlite==0.19.0
alabaster==0.7.12
alembic==1.8.1
altgraph==0.17.3
aniso8601==9.0.1
ankipandas==0.3.15
annotated-types==0.5.0
ansi2html==1.8.0
anthropic==0.25.1
antlr4-python3-runtime==4.11.1
anyascii==0.3.1
anyio==3.7.1
appdirs==1.4.4
appnope @ file:///opt/concourse/worker/volumes/live/6ca6f098-d773-4461-5c91-a24a17435bda/volume/appnope_1606859448531/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///opt/concourse/worker/volumes/live/42cf1b28-e71f-45ed-47b2-50f828088636/volume/argon2-cffi-bindings_1644569709119/work
array-record==0.2.0
arrow==1.2.3
asgiref==3.7.2
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.2
async-timeout==4.0.2
attrdict==2.0.1
attrs==23.1.0
audioread==3.0.0
auditok==0.2.0
auth0-python==4.2.0
autopage==0.5.1
av==10.0.0
Babel==2.12.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff==2.2.1
backports.functools-lru-cache==1.6.4
base58==2.1.1
bcrypt==4.0.1
beartype==0.11.0
beautifulsoup4==4.11.1
bentoml==1.0.22
bidict==0.22.1
biopython==1.80
bitarray==2.6.0
bitsandbytes==0.40.1.post1
black==19.10b0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blessed==1.20.0
blinker==1.7.0
blis==0.7.9
blobfile==2.0.1
boto3==1.26.16
botocore==1.29.16
braceexpand==0.1.7
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764741656/work
build==0.10.0
CacheControl==0.12.11
cachetools==5.2.0
catalogue==2.0.8
catboost==1.1.1
category-encoders==2.5.1.post0
cattrs==23.1.2
certifi==2022.9.24
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_62rp5d8fd4/croots/recipe/cffi_1659598655556/work
chainlit==0.2.111
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
chroma-hnswlib==0.7.3
chromadb==0.4.14
circus==0.18.0
click==8.1.3
click-completion==0.5.2
click-didyoumean==0.3.0
click-help-colors==0.9.1
click-option-group==0.5.6
cliff==4.1.0
clldutils==3.14.0
cloudpathlib==0.15.1
cloudpickle==1.2.2
cmaes==0.9.1
cmd2==2.4.2
cmdstanpy==1.0.8
colorama==0.4.3
coloredlogs==15.0.1
colorlog==6.7.0
commonmark==0.9.1
confection==0.0.4
ConfigArgParse==1.7
configparser==5.3.0
contextlib2==21.6.0
contourpy==1.0.6
convertdate==2.4.0
copier==8.3.0
coqpit==0.0.17
cpflows==0.1.2
cpufeature==0.2.1
croniter==1.3.15
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_3evwafgyg8/croot/cryptography_1665612651044/work
csvw==3.1.3
ctranslate2==3.24.0
cycler==0.11.0
cymem==2.0.7
Cython==0.29.28
darts==0.23.0
dash==2.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-cli==0.17.4
dataclasses-json==0.5.8
datasets==2.14.7
datasetsforecast==0.0.8
dateparser==1.1.5
dateutils==0.6.12
de-dep-news-trf @ https://github.com/explosion/spacy-models/releases/download/de_dep_news_trf-3.5.0/de_dep_news_trf-3.5.0-py3-none-any.whl
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepchem==2.7.1
deepdiff==6.3.0
deepmerge==1.1.0
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.13
deprecation==2.1.0
diffusers @ git+https://github.com/huggingface/diffusers.git@78922ed7c7e66c20aa95159c7b7a6057ba7d590d
Dijkstar==2.6.0
dill==0.3.6
diskcache==5.6.1
Distance==0.1.3
distlib==0.3.6
distro==1.8.0
dlinfo==1.2.1
dm-tree==0.1.8
docker==6.0.1
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.19
dunamai==1.18.0
editdistance==0.6.1
einops==0.6.0
elevenlabs==0.2.12
emoji==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0-py3-none-any.whl
encodec==0.1.1
entrypoints @ file:///opt/concourse/worker/volumes/live/78b2c4ae-da17-4aa7-7fdc-138f840abf07/volume/entrypoints_1649926486598/work
enum34==1.1.10
ephem==4.1.4
epitran==1.17
espeak-phonemizer==1.1.0
espeakng==1.0.2
et-xmlfile==1.1.0
etils==1.3.0
exceptiongroup==1.0.4
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fairseq==0.12.2
faiss-cpu==1.7.3
fastapi==0.103.2
fastBPE==0.1.0
faster-whisper==0.10.0
fastjsonschema==2.17.1
fasttext==0.9.2
ffmpeg-python==0.2.0
filelock==3.8.0
filetype==1.2.0
firebase-admin==6.1.0
FLAML==2.1.1
Flask==3.0.0
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SocketIO==5.3.4
flatbuffers==23.5.26
flet==0.10.1
flet-core==0.10.1
flet-runtime==0.10.1
fonttools==4.38.0
fqdn==1.5.1
fr-dep-news-trf @ https://github.com/explosion/spacy-models/releases/download/fr_dep_news_trf-3.5.0/fr_dep_news_trf-3.5.0-py3-none-any.whl
frozendict==2.3.4
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.10.0
ftfy==6.1.1
fugue==0.8.7
fugue-sql-antlr==0.2.0
funcy==2.0
future==0.18.2
fxcmpy==1.3.3
g2p-en==2.1.0
g2pkk==0.1.2
gast==0.4.0
gdown==4.5.4
german-lemmatizer==0.1.1
gevent==22.10.2
gevent-websocket==0.10.1
gitdb==4.0.10
GitPython==3.1.29
gluonts==0.11.7
google-api-core==2.11.0
google-api-python-client==2.78.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-firestore==2.9.1
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
gql==3.0.0a6
gradient==2.0.6
gradient-utils==0.5.0
graph_of_thoughts==0.0.1
graphql-core==3.1.7
graphviz==0.8.4
greenlet==2.0.1
grpcio==1.49.1
grpcio-health-checking==1.48.2
grpcio-status==1.51.1
grpcio-tools==1.56.2
gruut==2.3.4
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fa==2.0.0
gruut-lang-fr==2.0.2
gruut-lang-it==2.0.0
gruut-lang-nl==2.0.2
gruut-lang-ru==2.0.0
gruut-lang-sw==2.0.0
gunicorn==20.1.0
gym==0.15.3
gym-notices==0.0.8
h11==0.14.0
h2==4.1.0
h5py==3.1.0
halo==0.0.31
hazm==0.7.0
hijri-converter==2.2.4
hivemind==1.1.9
holidays==0.18
hpack==4.0.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.21.0
httptools==0.6.1
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
hydra-core==1.3.1
Hypercorn==0.15.0
hyperframe==6.0.1
HyperPyYAML==1.1.0
idna @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_00jf0h4zbt/croot/idna_1666125573348/work
ijson==3.1.4
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata==6.0.1
importlib-resources==5.12.0
inflect==5.6.0
inflection==0.5.1
iniconfig==1.1.1
inquirer==3.1.3
install==1.3.5
invisible-watermark==0.2.0
ipadic==1.0.0
ipykernel @ file:///opt/concourse/worker/volumes/live/b72ce213-516a-4998-6411-bacb2eb6d5d1/volume/ipykernel_1607452776186/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_42nlp914w6/croot/ipython_1668088125522/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isodate==0.6.1
isoduration==20.11.0
isort==4.3.21
itsdangerous==2.1.2
jamo==0.4.1
jaraco.context==4.3.0
jax==0.4.11
jedi @ file:///opt/concourse/worker/volumes/live/89be3eb0-a85c-453b-67dd-f706f2fa4c43/volume/jedi_1644315269953/work
jieba==0.42.1
Jinja2 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6adj7x0ejx/croot/jinja2_1666908137966/work
jinja2-ansible-filters==1.3.2
jmespath==1.0.1
joblib==1.2.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonlines==1.2.0
jsonpatch==1.33
jsonpath-ng==1.5.3
jsonpointer==2.4
jsonschema==4.17.3
jupyter @ file:///opt/concourse/worker/volumes/live/5d55c245-fcac-42f9-4a6c-7e147c07785b/volume/jupyter_1607700866889/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter-ydoc==0.2.4
jupyter_ai==0.8.0
jupyter_ai_magics==0.8.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.6.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.4
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server==2.23.0
kaldi-python-io==1.2.2
kaldiio==2.17.2
kaleido==0.2.1
keras==2.15.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langchain==0.1.2
langchain-community==0.0.14
langchain-core==0.1.14
langchain-openai==0.0.3
langcodes==3.3.0
langgraph==0.0.16
langid==1.1.6
langsmith==0.0.83
language-tags==1.1.0
latexcodec==2.0.1
lazy_loader==0.3
libclang==14.0.6
librosa==0.10.1
libwapiti==0.2.1
lightgbm==3.3.3
lightning==2.0.9.post0
lightning-cloud==0.5.39
lightning-utilities==0.8.0
llama_cpp_python==0.2.13
llvmlite==0.40.1
log-symbols==0.0.14
LunarCalendar==0.0.9
lxml==4.9.1
macholib==1.16.2
Mako==1.2.4
marisa-trie==1.1.0
Markdown==3.4.1
markdownify==0.11.6
MarkupSafe @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d4a9444f-bd4c-4043-b47d-cede33979b0fve7bm42r/croots/recipe/markupsafe_1654597878200/work
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.8.0
matplotlib-inline @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_9ddl71oqte/croots/recipe/matplotlib-inline_1662014471815/work
mecab-python3==1.0.5
mistune==3.0.1
ml-dtypes==0.2.0
mlflow==2.4.1
mock==4.0.3
monotonic==1.6
more-itertools==9.0.0
mplfinance==0.12.9b7
mpmath==1.2.1
msgpack==1.0.4
multiaddr==0.0.9
multidict==6.0.2
multiprocess==0.70.14
multitasking==0.0.11
munkres==1.1.4
murmurhash==1.0.9
mxnet==1.9.1
mycroft-mimic3-tts==0.2.4
mypy-extensions==1.0.0
namex==0.0.7
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nemo-toolkit==1.12.0
nest-asyncio==1.5.6
netaddr==0.8.0
networkx==2.8.8
neuralforecast==1.6.4
nfoursid==1.0.1
nltk==3.3
notebook @ file:///opt/concourse/worker/volumes/live/600e39a3-70b3-4ed1-4986-4cc3d1a9be7c/volume/notebook_1635411664246/work
notebook_shim==0.2.3
num2words==0.5.12
numba==0.57.1
numexpr==2.8.4
numpy==1.24.4
oandapyV20==0.7.2
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.12.0
onnxruntime==1.16.1
openai==1.9.0
openai-whisper==20231117
openapi-schema-pydantic==1.2.4
OpenCC==1.1.4
opencv-python==4.8.1.78
openllm==0.1.16
openpyxl==3.1.2
opentelemetry-api==1.17.0
opentelemetry-exporter-otlp==1.18.0
opentelemetry-exporter-otlp-proto-common==1.18.0
opentelemetry-exporter-otlp-proto-grpc==1.18.0
opentelemetry-exporter-otlp-proto-http==1.18.0
opentelemetry-instrumentation==0.38b0
opentelemetry-instrumentation-aiohttp-client==0.38b0
opentelemetry-instrumentation-asgi==0.38b0
opentelemetry-instrumentation-grpc==0.38b0
opentelemetry-proto==1.18.0
opentelemetry-sdk==1.17.0
opentelemetry-semantic-conventions==0.38b0
opentelemetry-util-http==0.38b0
opt-einsum==3.3.0
optimum==1.8.8
optuna==2.8.0
ordered-set==4.1.0
orjson==3.8.3
outcome==1.2.0
overrides==7.3.1
packaging==23.2
pandas==2.1.1
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
pangu==4.0.6.1
panphon==0.20.0
parameterized==0.8.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathspec==0.10.2
pathtools==0.1.2
pathy==0.10.1
patsy==0.5.3
pbr==5.11.0
peft==0.4.0
pesq==0.0.4
petals @ git+https://github.com/bigscience-workshop/petals@f3fafd14a4c00448c67d028c6065e2bef2520fa5
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phonemes2ids==1.2.2
phonemizer==3.2.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.3.0
pip-api==0.0.30
pip-requirements-parser==32.0.1
pip-tools==6.13.0
pipreqs==0.4.11
pl-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/pl_core_news_lg-3.5.0/pl_core_news_lg-3.5.0-py3-none-any.whl
plaidbench==0.7.0
platformdirs==3.8.0
playsound==1.3.0
plotly==5.11.0
plotly-resampler==0.8.4rc1
pluggy==1.0.0
plumbum==1.8.2
ply==3.11
pmdarima==2.0.2
pooch==1.6.0
portalocker==2.6.0
posthog==3.0.2
prefetch-generator==1.0.3
preshed==3.0.8
prettytable==3.5.0
priority==2.0.0
progressbar==2.5
progressbar2==4.2.0
prometheus-client==0.17.0
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
prophet==1.1.1
proto-plus==1.22.2
protobuf==3.20.1
psutil==5.9.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pulsar-client==3.3.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyannote.core==4.5
pyannote.database==4.1.3
pyannote.metrics==3.2.1
pyarrow==8.0.0
pyarrow-hotfix==0.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
pyautogen==0.1.13
pybind11==2.10.1
pybtex==0.24.0
pybtex-docutils==1.0.2
pycaret==3.0.0rc6
pyChatGPT==0.3.9.4
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.17
pydantic==1.10.9
pydantic_core==2.10.1
pyDeprecate==0.3.2
pydot==1.4.2
pydub==0.25.1
pyglet==1.3.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
PyJWT==2.6.0
pylatexenc==2.10
PyMeeus==0.5.12
pymongo==3.13.0
pymultihash==0.8.2
pynini @ file:///Users/runner/miniforge3/conda-bld/pynini_1667113545704/work
pynndescent==0.5.8
pynvml==11.5.0
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyod==1.0.7
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_3a17y2delq/croots/recipe/pyparsing_1661452538853/work
pypdf==3.16.4
pyperclip==1.8.2
PyPika==0.48.9
pypinyin==0.47.1
pypng==0.20220715.0
pyproject_hooks==1.0.0
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
pyrsistent @ file:///opt/concourse/worker/volumes/live/76cffa60-bd33-4155-4e83-ea03c38b1294/volume/pyrsistent_1636111020441/work
pysbd==0.3.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pystoi==0.3.3
pytdm==0.1.2
pytest==7.2.0
pytest-runner==6.0.0
python-crfsuite==0.9.8
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-editor==1.0.4
python-engineio==4.3.1
python-graphql-client==0.4.3
python-json-logger==2.0.7
python-multipart==0.0.6
python-socketio==5.0.4
python-utils==3.5.2
pytorch-forecasting==1.0.0
pytorch-lightning==2.0.4
pytorch-optimizer==2.10.1
pyttsx3==2.90
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
PyVirtualDisplay==3.0
PyWavelets==1.4.1
-e git+https://github.com/abdeladim-s/pywhispercpp.git@95cdc4b1c70c16a8863ff2fa4e3c9318dc3492e1#egg=pywhispercpp
PyYAML==5.4.1
pyyaml-include==1.3.1
pyzmq==25.1.0
qpd==0.4.4
qrcode==7.4.2
qtconsole==4.6.0
Quart==0.19.3
quart-cors==0.7.0
querystring-parser==1.2.4
questionary==1.10.0
RandomFileTree==1.2.0
rapidfuzz==2.13.2
ray==2.4.0
rdflib==6.2.0
rdkit==2022.9.3
readchar==4.0.5
regex==2022.10.31
repath==0.9.0
replicate==0.13.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
resampy==0.4.2
responses==0.18.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==12.6.0
rlcard==1.1.0
rotary-embedding-torch==0.3.5
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
sacrebleu==2.3.1
sacremoses==0.0.53
safetensors==0.3.1
schema==0.7.5
schemdraw==0.15
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.11.3
scs==3.2.2
seaborn==0.12.2
segments==2.2.1
selenium==4.7.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.11.1
setproctitle==1.3.2
setuptools-git==1.2
shap==0.41.0
shellingham==1.5.0
shortuuid==1.0.11
simple-di==0.1.5
simpleaudio==1.0.4
simplejson==3.18.0
sip @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_88z1zrsfrf/croots/recipe/sip_1659012373083/work
six==1.15.0
sktime==0.14.1
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio @ file:///opt/concourse/worker/volumes/live/38ca9e9e-09d1-4d43-5a0f-b546422e7807/volume/sniffio_1614030472707/work
snowballstemmer==2.2.0
sortedcontainers==2.4.0
SoundCard==0.4.2
sounddevice==0.4.5
soundfile==0.12.1
soupsieve==2.3.2.post1
sox==1.4.1
soxr==0.3.7
spacy==3.7.1
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-stanza==1.0.3
spacy-transformers==1.2.2
speechbrain==0.5.13
speedtest-cli==2.1.3
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spinners==0.0.24
SQLAlchemy==1.4.44
sqlglot==20.10.0
sqlparse==0.4.3
srsly==2.4.6
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
stanza==1.5.0
starlette==0.27.0
starsessions==1.3.0
statsforecast==1.4.0
statsmodels==0.13.5
stevedore==4.1.1
subprocess32==3.5.4
subword-nmt==0.3.8
suno-bark @ git+https://github.com/suno-ai/bark.git@599fed040e52c89e0b3580e02e2684b2c9100701
swagger-ui-py==21.12.8
sympy==1.12
tabulate==0.9.0
taskgroup==0.0.0a4
tavily-python==0.3.1
tbats==1.1.2
tenacity==8.1.0
tensor-parallel==1.0.23
tensorboard==2.15.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.15.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.29.0
tensorflow-metadata==1.13.1
tensorflow-probability==0.23.0
termcolor==1.1.0
terminado @ file:///opt/concourse/worker/volumes/live/1e61dc32-e381-4730-4e5e-6cfec5c3c4a5/volume/terminado_1644322614203/work
terminaltables==3.1.10
testfixtures==7.0.4
testpath @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_aaf4aec7-dbb6-43d6-9707-824338b4efc82yrt6xjp/croots/recipe/testpath_1655908558843/work
textblob==0.17.1
thefuzz==0.19.0
thinc==8.2.1
threadpoolctl==3.1.0
tiktoken==0.5.2
tinycss2==1.2.1
tokenizers==0.15.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torchaudio==2.0.1
torchmetrics==0.10.3
torchvision==0.15.1
tornado @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1fimz6o0gc/croots/recipe/tornado_1662061695695/work
tortoise-tts==3.0.0
tqdm==4.65.0
trace-updater==0.0.9
trainer==0.0.20
traitlets==5.9.0
transformers==4.35.2
triad==0.9.4
trio==0.22.0
trio-websocket==0.9.2
TTS==0.10.1
typed-ast==1.5.4
typer==0.9.0
typing-inspect==0.8.0
typing_extensions==4.7.1
tzdata==2022.7
tzlocal==4.2
umap-learn==0.5.1
undetected-chromedriver==3.1.7
unicodecsv==0.14.1
Unidecode==1.3.6
unidic-lite==1.0.8
uptrace==1.18.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.12
utilsforecast==0.0.26
uvicorn==0.22.0
uvloop==0.17.0
varint==1.0.2
virtualenv==20.21.0
wandb==0.13.5
wasabi==1.1.1
watchdog==3.0.0
watchdog-gevent==0.1.1
watchfiles==0.19.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
weasel==0.3.2
webcolors==1.13
webdataset==0.1.62
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==3.0.1
wget==3.2
# Editable install with no version control (whisper-cpp-python==0.2.0)
-e /Users/aleksander/PycharmProjects/whisper-cpp-python
whispercpp @ git+https://github.com/aarnphm/whispercpp.git@ea4652e7c4e112a209679621d4f3945740cbeda7
widgetsnbextension @ file:///opt/concourse/worker/volumes/live/8bad7157-f9ed-4ea5-5a30-5ca326558415/volume/widgetsnbextension_1645009368149/work
wolframalpha==5.0.0
wrapt==1.12.1
wsproto==1.2.0
wurlitzer==3.0.2
xarray==2022.12.0
xdgenvpy==2.3.5
xgboost==1.7.2
xlrd==2.0.1
xmltodict==0.13.0
xxhash==3.2.0
y-py==0.5.9
yarg==0.1.9
yarl==1.8.1
yellowbrick==1.5
yfinance==0.2.3
youtokentome==1.0.6
ypy-websocket==0.8.2
zipp==3.11.0
zope.event==4.6
zope.interface==6.0
